.menu a{
  color: white;
  border-left: 2px solid white;
}
.li_aktive:hover a {
  background: rgb(255, 255, 255, 20%);
  border-left: 2.5px solid rgb(255, 0, 252);
  color: rgb(255, 0, 252);
}
.box, .box2, .br_box, .br_box1, .box3, .br_box2, .box4{
  background-color: white;
}
h1, h2{
  color: white;
}
.box_hr{
    border-top: 5px solid white;
}
h3, .p_about, h4, .content_text1 a, .content_text1, .content_text2{
  color: rgb(71, 79, 85);
}
.footer_text{
  color: rgba(0, 0, 0, 0.40);
}
.p_box{
  color: rgb(71, 79, 85);
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.15);
}
.hr_contacts{
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}
.content_text1 a:hover{
    color: rgba(0, 0, 0, 0.30);
}
button{
  color: white;
}
button:hover {
  color: rgb(255, 0, 255);
}
#button-up {
  color: rgb(71, 79, 85);
}
#button-up:hover {
   color: rgb(255, 0, 255);
}
#button-up:active {
   color: rgba(0, 0, 0, 0.40);
}
.art1mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art2mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art3mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art4mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art5mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art6mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art7mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art8mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art9mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
.art10mini:hover {
  box-shadow: 0px 0px 5px rgb(71, 79, 85);
}
